.inputContainer {
  width: 100%;
}

.regularStyle {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0px 10px 0px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: cadetblue;
  font-size: 14px;
  outline: none;
}

.regularStyle::placeholder {
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}

.inputError {
  border: 3px solid red;
  color: red;
  background-color: rgb(250, 211, 211);
  width: 100%;
  height: 40px;
  border-radius: 25px;
  padding: 0px 10px 0px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 14px;
  outline: none;
}

.inputError::placeholder {
  color: red;
  font-size: 14px;
}